.tabPanel{

    margin-top: 50px;
  
   
}




.box{

    color: #fff;

   padding: 50px;
   
  
  

    display: none;

    margin-top: 20px;

}

.edit{
    background: #00b8d4 ; border-radius: 25px;  padding: 50px; 
}


.sell{ background: #00b8d4 ; border-radius: 25px; }

.rent{ background:#00b8d4 ;  border-radius: 25px; }

.hire{ background: #00b8d4;  border-radius: 25px; }


